* {
  padding: 0;
  margin: 0;
  background: #fff;
}

canvas {
  background: url('../images/nebula.gif') center;
  /* https://i.pinimg.com/originals/b1/bd/c1/b1bdc1ae539dcbd1a7c33cef3e5f2d9a.gif */
  animation: 120s scroll infinite linear reverse;
  background-size: cover;
  margin: 0 auto;
  display: block;
}

@keyframes scroll{ /* https://scrummish.github.io/Space-Invaders-2018/ */
  100%{
    background-position:0px -30000px;
  }
}