/* vietnamese */
@font-face {
  font-family: 'Bungee Inline';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bungee Inline'), local('BungeeInline-Regular'), url(https://fonts.gstatic.com/s/bungeeinline/v5/Gg8zN58UcgnlCweMrih332VuPGp_-XMjhsYDeA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Bungee Inline';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bungee Inline'), local('BungeeInline-Regular'), url(https://fonts.gstatic.com/s/bungeeinline/v5/Gg8zN58UcgnlCweMrih332VuPGt_-XMjhsYDeA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Bungee Inline';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bungee Inline'), local('BungeeInline-Regular'), url(https://fonts.gstatic.com/s/bungeeinline/v5/Gg8zN58UcgnlCweMrih332VuPGV_-XMjhsY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: whitesmoke;
}

#play-screen {
  display: block;
  position: absolute;
  font-family: 'Bungee Inline';
  font-size: 72px;
  top: 360px;
  left: 240px;
}

canvas {
  background: url('../images/nebula.gif') center;
  /* https://i.pinimg.com/originals/b1/bd/c1/b1bdc1ae539dcbd1a7c33cef3e5f2d9a.gif */
  animation: 400s scroll infinite linear reverse; /* https://scrummish.github.io/Space-Invaders-2018/ */
  background-size: cover;
  margin: 0 auto;
  display: block;
}

@keyframes scroll { /* https://scrummish.github.io/Space-Invaders-2018/ */
  100% {
    background-position: 0px -30000px;
  }
} 